/* Tailwind Directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth Scroll */
html {
  scroll-behavior: smooth;
}

/* Font Variables (for Local Fonts to be added soon) */
:root {
  --font-display: 'Maglin', serif;
  --font-header: 'Faginta', serif;
  --font-accent: 'ThickBlack', cursive;
  --font-body: 'Naome', sans-serif;
}

/* Base Styling Reset */
body {
  @apply bg-background text-white font-body antialiased;
}

/* Selection Styling */
::selection {
  background-color: #FF6200;
  color: white;
}

/* Smooth fade for interactive elements */
a, button {
  transition: all 0.2s ease-in-out;
}
